/*COMMON RULES*/

/*END OF THE COMMON RULES*/
body
{
  font-family: "Circular","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*RULES OF THE HEADER*/

header
{
  width: 100%;
  position: relative;
  display: table;
}

header img
{
  width: 9%;
  margin: 1em;
}
header nav
{
  display: inline-block;
  margin: 1em;
  vertical-align: top;
  margin-left: 2.5em;
}
header nav ul
{
  list-style-type: none;
  width: 90%;
  display: inline;
}
nav ul li
{
  list-style-type: none;
  display: inline;
}
nav ul li:nth-child(1)
{
  display: none;
}
nav ul li:nth-child(2)
{
  display: none;
}
nav ul li a
{
  text-decoration: none;
  font-size: 14px;
  color: #333333;
}
header h1
{
  margin:1em;
  font-size: 23px;
  font-weight: 700;
  color:#FF5A5F;
  line-height: 30px;
}
header h1 span
{
  color:#484848;
  font-weight: 300;
}
/*END OF THE HEADER*/





/*RULES OF THE NAVBAR*/

aside nav ul li:nth-child(3)
{
  display: none;
}
aside .rechercher
{
  display: none;
}
aside .loupe
{
  display: block;
  position: relative;
  width: 85%;
  padding: 18px;
  margin-left: -1em;
  margin-bottom: 3em;
  border: 1px solid #dce0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #dce0e0;
  font-family:"Helvetica Neue";
  font-weight: 300;
  color: #767676 ;
  font-size: 18px;
}
.fa-search
{
  color: black;
  padding-left: 6em;

}
/*END OF THE NAVBAR*/




/*RULES OF THE DIVISION*/

/*RULES OF THE FIRST AND SECOND SECTION*/

.first, .second
{
  width:90%;
}
.first h3, .second h3, .third h3, .fourth h3
{
  margin: 1em 1em 1em 1em;
  color: #484848;
  font-weight: 300;
}
.first figure, .second figure
{
  margin: auto;
}
.first figure img, .second figure img
{
  width: 130px;
  height: 195px;
  padding-left: 1em;
}
.imgnone, .imgnone2
{
  display: none;
}
.first p, .second p, .fourth p
{
  display: none;
}
.harlem, .instant
{
  width: 100%;
  display: flex;
  margin: auto;
}
/*END OF THE FIRST AND SECOND SECTION*/



/*RULES OF THE THIRD SECTION*/

.third figure img
{
  width: 177px;
  height: 118px;
}
/*END OF THE THIRD SECTION*/






/*RULES OF THE FOURTH SECTION*/
.gallery
{
  width: 90%;
  display: flex;
  margin: 1em;
  padding-bottom: 4em;
}
.gallery figure
{
  margin: auto;
}
.gallery h3
{
  display: none;
}
.fourth figure img
{
  width: 82px;
  height: 124px;
}
.fourth
{
  margin-top: 5em;
}
/*END OF THE FOURTH SECTION*/




/*RULES OF THE FIFTH SECTION*/

.fifth
{
  width: 100%;
  display: flex;
}
.fifth figure
{
  margin: auto;
}
.fifth figure img
{
  width: 320px;
  height: 168.05px;
  width: 100%;
}

.textandimg
{
  padding-bottom: 4em;
}

.textandimg h3
{
  font-size: 25px;
  font-weight: 500;
  color:#484848;
  margin: 1em 0 0 1em ;
}

.textandimg p
{
  margin: auto;
  font-size: 20px;
  font-weight: 200;
  color:#484848;
  margin: 1em 0 0 1.3em ;
}
.textandimg input
{
  background: #008489;
  border: 9px solid transparent;
  border-radius: 4px;
  width: 60%;
  color: white;
  font-size: 14px;
  font-family: 'Circular','-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
  margin: 1em 1em 1em 2em;
  margin-bottom: -2em;
}
/*END OF THE FIFTH SECTION*/





/*RULES OF THE FOOTER*/
footer table
{
  display: none;
}
footer label select
{
background: transparent;
border: 9px solid black;

}
.check
{
  display: inline-flex;
   font-size: 19px;
   line-height: 24px;
   padding-top: 12px;
   padding-bottom: 12px;
   color: #484848 ;
   font-weight: 200;
   margin-left: 1em;
   padding-left: 12px;
   padding-right: 40px;
   height: auto;
   background: #ffffff ;
   border: 1px solid #DBDBDB ;
   border-radius: 5px;
   width: 40%;
}
footer img
{
  margin-top: 2em;
  margin-left: 1em;
}
/*END RULES OF THE FOOTER*/

/*END OF THE FOOTER*/

@media (min-width: 768px)
{
  header img
  {
    width: 3%;
    margin: 1em;
  }

  header nav ul
  {
    display: inline-block;
    padding-left: 20em;

  }
  nav ul li:nth-child(1)
  {
    display: inline;
  }
  nav ul li:nth-child(2)
  {
    display: inline;
  }
  nav ul li a
  {
    margin-left: 3em;
    text-decoration: none;
    font-size: 14px;
    color: #333333;
  }
  header h1
  {
    margin:1em;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color:#FF5A5F;
  }
  header h1 span
  {
    color:#484848;
    font-weight: 300;
  }

  /*END OF THE HEADER*/
.first figure img, .second figure img
{
  width: 293px;
  height: 440px;
  padding-left: 1em;
}
aside li input
{
  display: none;
}
.fa-search
{
  color: black;
  padding-left: 35em;

}
.third
{
  display: flex;
  flex-direction: row;
}
.third figure img
{
  width: 448px;
  height: 298px;
}

.imgnone
{
  display: block;
}
#off2, #off
{
  display: none;
}
.fourth figure img
{
  width: 216px;
  height: 324px;
  margin-left: 1em;
}

/*RULES OF THE FIFTH SECTION*/

.fifth figure
{
  margin: auto;
}
.fifth figure img
{
  width: 456px;
  height: 239px;
  margin-left: 25em;
}

.textandimg
{
  float: left;
  padding-bottom: 4em;
}

.textandimg h3
{
  font-size: 25px;
  font-weight: 500;
  color:#484848;
  margin: 1em 0 0 1em ;
  padding-top: 2px;
  padding-bottom: 2px;
}

.textandimg p
{
  margin: auto;
  font-size: 20px;
  font-weight: 200;
  color:#484848;
  margin: 1em 0 0 1.3em ;
}
.textandimg input
{
  background: #008489;
  border: 9px solid transparent;
  border-radius: 4px;
  width: 60%;
  color: white;
  font-size: 14px;
  font-family: 'Circular','-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
  margin: 1em 1em 1em 2em;
  margin-bottom: -2em;
}
/*END OF THE FIFTH SECTION*/
footer table
{
  display: block;
  text-align: center;
  margin-top: 2em;
  padding-left: 11em;
}
footer table td a
{
  text-decoration: none;
  color: lightgrey;
}
.check
{
    display:inline-block;
   font-size: 19px;
   line-height: 24px;
   color: #484848 ;
   font-weight: 200;
   height: auto;
   background: #ffffff ;
   border: 1px solid #DBDBDB ;
   border-radius: 5px;
   width: 35%;
}
}

@media (min-width: 1024px)
{
  header nav ul
  {
    display: inline-block;
    text-align: center;

  }
  header h1
  {
    margin:1em;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color:#FF5A5F;
    width: 46%;
  }
  .third
  {
    display: flex;
    flex-wrap: wrap;

  }
  .third h3
  {
    width: 100%;
  }
  .third article
  {
    width: 40%;
  }

  .fa-search
  {
    color: black;
    padding-left: 50em;

  }
  .imgnone2
  {
    display: block;
  }
.fourth
{
  width: 85%;
}
#off
{
  display: none;
}
#off2
{
  display: block;
}

}
